#home {
    .container {
        .home {
            padding: 30px 0;
            display: flex;
            h1 {
                width: 50%;
                font-size: 3rem;
            }
            .home-left {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 30px;
                button {
                    padding: 10px 30px;
                    background-color: darkblue;
                    width: 150px;
                    color: white;
                    border-radius: 25px;
                    border: none;
                }
            }
            .home-right {
                img {
                    border-radius: 50%;
                    border: 6px solid darkblue;
                }
            }
        }
    }
}